# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

DT_COMPAT_TI_SNX4HC595 := ti,snx4hc595

menuconfig GPIO_SNX4HC595
	bool "TI SNx4HC595 8-bit Shift Register bit-bang driver"
	default $(dt_compat_enabled,$(DT_COMPAT_TI_SNX4HC595))
	depends on GPIO
	select HAS_DTS_GPIO
	help
	  Enable driver for TI SNx4HC595 shift register using GPIO bit-bang.

if GPIO_SNX4HC595

config GPIO_SNX4HC595_INIT_PRIORITY
	int "Init priority"
	default 45
	help
	  Device driver initialization priority.

endif #GPIO_SNX4HC595
