# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

# SoC
CONFIG_SOC_SERIES_STM32L4X=y
CONFIG_SOC_STM32L432XX=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

# Key scanning
CONFIG_ZMK_KSCAN_MATRIX_POLLING=y
CONFIG_ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS=30

# Encoder
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# RGB
CONFIG_ZMK_RGB_UNDERGLOW=y
CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n

# Storage
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS=y

# USB
CONFIG_USB_DEVICE_MANUFACTURER="Keychron"
CONFIG_USB_DEVICE_PRODUCT="Q1"
