# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

config LED_STRIP_COMPOSITE
	bool "Composing multiple LED strip devices into one virtual device"
	default y
	depends on DT_HAS_ZMK_LED_STRIP_COMPOSITE_ENABLED
	select LED_STRIP
