# Copyright (c) 2022-2023 XiNGRZ
# SPDX-License-Identifier: MIT

config CKLED2001
	bool "CKLED2001 LED strip controller"
	default y
	depends on DT_HAS_KEYCHRON_CKLED2001_ENABLED
	select I2C
	select LED_STRIP
	help
	  Enable driver for CKLED2001 LED strip controller.
